body{
    background-image : url('board.jpg');
}
img{
    width: 15rem; height: 13rem;
    margin-top: 100px;
    border-radius: 50%;
    transition: all 1s;
}
img:hover{
    transform: scale(1.3);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.header{
    text-align: center;
    color: white;
    font-size: 20px;
}
.bordered li{
    color: rgb(255, 255, 255);
    display: inline;
}
ul{
    text-align: right;
    margin-right: 10px;
}
li{
    margin: 15px;
}
li:hover{
    background-color: #371A92;
}
